<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
{% extends 'admin/starter.html' %}
{% block title %} Student details {% endblock %}
{% block content_header %}
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Student details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6 text-right">
                <a class="btn btn-outline-dark" href="{{ url_for('students.student', page=page) }}">Back</a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 form">
                {% for row in rows %}
                    <form action="{{ url_for('students.student_edited') }}" method="POST" enctype="multipart/form-data"
                          class="p-4">
                        <input type="hidden" value="{{ row.id }}" name="id">
                        <input type="hidden" value="{{ page }}" name="page_id">
                        <div class="row">
                            <div class="col-7">
                                <label for="firstname" class="form-label col-12">Firstname
                                    <input readonly value="{% if row.firstname == '' or row.firstname is none %}N/A{% else %}{{ row.firstname }}{% endif %}" name="firstname" type="text"
                                           class="form-control"
                                           placeholder="Enter firstName" required>
                                </label>
                                <label for="Lastname" class="form-label col-12">Lastname
                                    <input readonly value="{% if row.lastname == '' or row.lastname is none %}N/A{% else %}{{ row.lastname }}{% endif %}" name="lastname" type="text"
                                           class="form-control"
                                           placeholder="Enter lastname" required>
                                </label>
                                <label for="birthday" class="form-label col-12">Birthday
                                    <input readonly
                                           value="{% if row.birthday == '' or row.birthday is none %}N/A{% else %}{{ row.birthday }}{% endif %} "
                                           name="birthday" type="text" class="form-control">
                                </label>
                                <div class="row ps-2 pe-2">
                                    <div class="col-5">
                                        <label class="col-12 p-0 m-0">Gender</label>
                                        <input readonly class="form-control" type="text" name="gender"
                                               id="male"
                                               value="{% if row.gender == '' or row.gender is none %}N/A{% else %}{{ row.gender|capitalize }}{% endif %}">
                                    </div>
                                    <label for="subject" class="form-label col-7">Subject
                                        <input readonly class="form-control" type="text" name="subject"
                                               value="{% if row.subject == "" or row.subject is none or row.subject == 'Select subject' %}N/A
                                                   {% else %}{{ row.subject|upper }} {% endif %}">
                                    </label>
                                </div>
                            </div>
                            <div class="col-5">
                                <label class="col-12 p-0 m-0">Image</label>
                                {% if row.image == '' or row.image is none %}
                                    <img src="{{ url_for('static', filename='image/no-image.png') }}"
                                         class="img-thumbnail mod-image" alt="{{ row.image }}">
                                {% else %}
                                    <img data-toggle="modal" data-target="#triggerModal"
                                         src="{{ url_for('static', filename='image/student/' + row.image if '.' in row.image else row.image + '.jpg') }}"
                                         class="img-thumbnail mod-image hand" alt="{{ row.image }}">
                                    <div class="modal fade" tabindex="-1" id="triggerModal">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Image</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="{{ url_for('static', filename='image/student/' + row.image if '.' in row.image else row.image + '.jpg') }}"
                                                         class="img-thumbnail modal-mod-image" alt="{{ row.image }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row ps-2 pe-2">
                            <label for="email" class="form-label col-6">Email
                                <input readonly
                                       value="{% if row.email == "" or row.email is none %}N/A{% else %}{{ row.email|capitalize }}{% endif %}"
                                       name="email" type="email" class="form-control"
                                       placeholder="Enter email">
                            </label>
                            <label for="phone" class="form-label col-6">Phone
                                <input readonly
                                       value="{% if row.phone == "" or row.phone is none %}N/A{% else %}{{ row.phone }}{% endif %}"
                                       name="phone" type="tel" class="form-control"
                                       placeholder="Enter phone number">
                            </label>
                        </div>
                        <div class="row pe-1 ps-1">
                            <label for="email" class="form-label">Address
                                <input readonly
                                       value="{% if row.address == "" or row.address is none %}N/A{% else %}{{ row.address }}{% endif %}"
                                       name="address" type="text" class="form-control"
                                       placeholder="Enter address">
                            </label>
                        </div>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        function validateSize() {
            const file = document.getElementById('image_upload').files[0];
            if (file.size > 2 * 1024 * 1024) {
                alert('File size is too large. The maximum file size is 2MB.');
                document.getElementById('image_upload').value = '';
            }
        }
    </script>
{% endblock %}

{% block style %}
    .form{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
    background: white;
    border-radius: 15px;
    transition:300ms ease;
    }
    .form:hover{
    box-shadow:none;
    }
    .mod-image{
    height:248px;
    width:303px;
    object-fit:cover;
    }
    .hand{
    cursor:pointer;
    }
    .modal-mod-image{
        object-fit:contain;
        width: 100%;
        height:100%;
    }
{% endblock %}
<script src="../../../static/js/bootstrap.min.js"></script>
