{% extends 'admin/starter.html' %}
{% block title %} Product category {% endblock %}
{% block content_header %}
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Product categories</h1>
            </div><!-- /.col -->
            <div class="col-sm-6 text-right">
                <a class="btn btn-outline-dark" href="{{ url_for('product_categories.add_category') }}">Add new</a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
{% block main_content %}
    <div class="container-fluid">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <th scope="row">{{ row.cid }}</th>
                    <td>{{ row.cname }}</td>
                    <td>
                        <p class="desc">
                            {% if row.cdescription == '' or row.cdescription is none %}
                                N/A
                            {% else %}
                                {{ row.cdescription }}
                            {% endif %}
                        </p>
                    </td>
                    <td class="text-center">
                        <form action="{{ url_for('product_categories.detail_category') }}" method="post">
                            <input type="hidden" value="{{ row.cid }}" name="cid">
                            <input type="hidden" value="{{ page }}" name="page_id">
                            <button type="submit" title="detail">
                                <span class="fas fa-eye action-btn"></span>
                            </button>
                        </form>
                        <form action="{{ url_for('product_categories.edit_category') }}" method="post">
                            <input type="hidden" value="{{ row.cid }}" name="cid">
                            <input type="hidden" value="{{ page }}" name="page_id">
                            <button type="submit" title="Edit">
                                <span class="fas fa-edit action-btn"></span>
                            </button>
                        </form>
                        <form action="{{ url_for('product_categories.delete_category') }}" method="post">
                            <input type="hidden" value="{{ row.cid }}" name="cid">
                            <input type="hidden" value="{{ page }}" name="page_id">
                            <button type="submit" title="Delete">
                                <span class="fas fa-trash action-btn"></span>
                            </button>
                        </form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Pagination Links -->
        <nav aria-label="...">
            <ul class="pb-5 m-0 pagination justify-content-center">
                {% if page > 3 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('product_categories.category', page=1) }}">First</a>
                    </li>
                {% endif %}
                <li class="page-item {{ 'disabled' if page==1 }}">
                    <a class="page-link"
                       href="{{ url_for('product_categories.category', page=page-1) }}"><</a>
                </li>

                {% if total_pages < 6 %}
                    {% for n in range(total_pages) %}
                        <li class="page-item {{ 'active' if page==n+1 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=n+1) }}>{{ n+1 }}</a></li>
                    {% endfor %}
                {% else %}
                    {% if page < 4 %}
                        <li class="page-item {{ 'active' if page==1 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=1) }}>1</a></li>
                        <li class="page-item {{ 'active' if page==2 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=2) }}>2</a></li>
                        <li class="page-item {{ 'active' if page==3 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=3) }}>3</a></li>
                        <li class="page-item {{ 'active' if page==4 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=4) }}>4</a></li>
                        <li class="page-item {{ 'active' if page==5 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=5) }}>5</a></li>
                    {% elif page>1 and page<total_pages-2 %}
                        <li class="page-item {{ 'active' if page==page-2 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-2) }}>{{ page-2 }}</a></li>
                        <li class="page-item {{ 'active' if page==page-1 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-1) }}>{{ page-1 }}</a></li>
                        <li class="page-item {{ 'active' if page==page }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page) }}>{{ page }}</a></li>
                        <li class="page-item {{ 'active' if page==page+1 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',page=page+1) }}>
                                {{ page+1 }}</a></li>
                        <li class="page-item {{ 'active' if page==page+2 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page+2) }}>{{ page+2 }}</a></li>
                    {% elif page==total_pages-2 %}
                        <li class="page-item {{ 'active' if page==page-2 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-2) }}>{{ page-2 }}</a></li>
                        <li class="page-item {{ 'active' if page==page-1 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-1) }}>{{ page-1 }}</a></li>
                        <li class="page-item {{ 'active' if page==page }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page) }}>{{ page }}</a></li>
                        <li class="page-item {{ 'active' if page==total_pages-1 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=total_pages-1) }}>{{ total_pages-1 }}</a></li>
                        <li class="page-item {{ 'active' if page==total_pages }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=total_pages) }}>{{ total_pages }}</a></li>
                    {% elif page==total_pages-1 %}
                        <li class="page-item {{ 'active' if page==page-3 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-3) }}>{{ page-3 }}</a></li>
                        <li class="page-item {{ 'active' if page==page-2 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-2) }}>{{ page-2 }}</a></li>
                        <li class="page-item {{ 'active' if page==page-1 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-1) }}>{{ page-1 }}</a></li>
                        <li class="page-item {{ 'active' if page==page }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page) }}>{{ page }}</a></li>
                        <li class="page-item {{ 'active' if page==total_pages }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=total_pages) }}>{{ total_pages }}</a></li>
                    {% elif page==total_pages %}
                        <li class="page-item {{ 'active' if page==page-4 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-4) }}>{{ page-4 }}</a></li>
                        <li class="page-item {{ 'active' if page==page-3 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-3) }}>{{ page-3 }}</a></li>
                        <li class="page-item {{ 'active' if page==page-2 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-2) }}>{{ page-2 }}</a></li>
                        <li class="page-item {{ 'active' if page==page-1 }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page-1) }}>{{ page-1 }}</a></li>
                        <li class="page-item {{ 'active' if page==page }}">
                            <a class="page-link" href={{ url_for('product_categories.category',
                                    page=page) }}>{{ page }}</a></li>
                    {% endif %}
                {% endif %}

                <li class="page-item {{ 'disabled' if page==total_pages }}">
                    <a class="page-link"
                       href="{{ url_for('product_categories.category', page=page+1) }}">></a>
                </li>
                {% if page < total_pages-1 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('product_categories.category', page=total_pages) }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div><!-- /.container-fluid -->
{% endblock %}

{% block style %}
    .pagination > li > a
    {
        background-color: white;
        color: purple;
        color: black;
    }

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover
    {
        color: white;
        background-color: black;
        border-color: solid 1px black;
    }

    .pagination > .active > a
    {
        color: white;
        background-color: black;
        border:solid 1px black;
    }
    .pagination > .page-item.active .page-link
    {
        background:black;
        border: solid 1px black;
    }

    .pagination > .active > a:hover
    {
        background-color: black;
        border: solid 1px black;
    }

    .desc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:300px;
    }
    form{
    display:inline;
    }
    button{
    border:none;
    background: none;
    display:inline;
    padding:0;
    }

    .action-btn{
    color:black;
    font-size: 15px;
    padding: 10px;
    margin: 0 5px;
    background:white;
    border-radius:10px;
    transition: 300ms ease;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
    }
    .action-btn:hover{
    box-shadow: none;
    }
    .action-btn:first-child:hover{
    transform:scale(1.1);
    }
    .action-btn:nth-child(2):hover{
    transform:scale(1.1);
    }
    .action-btn:last-child:hover{
    transform:scale(1.1);
    }

    .btn-outline-dark{
    border-radius: 10px;
    }
    img{
    width:40px;
    height:40px;
    object-fit: cover;
    transition: 300ms ease;
    cursor:pointer;
    border-radius:10px;
    }
    .lg-image{
    width:0;
    height:0;
    position:absolute;
    z-index:-1;
    }
    .sm-image:hover+.lg-image{
    transform:scale(6) translateX(20px);
    width:40px;
    height:40px;
    z-index:0;
    }
{% endblock %}