<ul class="nav justify-content-center category">
    <li class="nav-item {% if filter_category == 'all' %} active {% endif %}">
        <a class="nav-link " href="{{ url_for('index') }}?filter_category=all">
            <button type="button">all</button>
        </a>
    </li>
    {% for item in categories %}
        <li class="nav-item {% if filter_category == item.name %} active {% endif %}">
            <a class="nav-link " href="{{ url_for('index') }}?filter_category={{ item.name }}">
                <button type="button">{{ item.name }}</button>
            </a>
        </li>
    {% endfor %}
</ul>