<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
{% extends 'admin/starter.html' %}
{% block title %} Product details {% endblock %}
{% block content_header %}
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Product details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6 text-right">
                <a class="btn btn-outline-dark" href="{{ url_for('products.product', page=page) }}">Back</a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 form">
                {% for row in rows %}
                    <form action="" method="POST" enctype="multipart/form-data"
                          class="p-4">
                        <input type="hidden" value="{{ row.id }}" name="id">
                        <input type="hidden" value="{{ page }}" name="page_id">
                        <div class="row">
                            <div class="col-7">
                                <label for="productName" class="form-label col-12">Product name
                                    <input readonly
                                           value="{% if row.name == '' or row.name is none %}N/A{% else %}{{ row.name }}{% endif %}"
                                           name="productName" type="text"
                                           class="form-control"
                                           placeholder="Enter product name" required>
                                </label>
                                <label for="category" class="form-label col-12">Category
                                    <input readonly
                                           value="{% if row.cname == '' or row.cname is none %}N/A{% else %}{{ row.cname }}{% endif %}"
                                           name="category" type="text"
                                           class="form-control"
                                           placeholder="Enter category" required>
                                </label>
                                <div class="row pe-2 ps-2">
                                    <label for="cost" class="form-label col-6">Cost
                                        <input readonly
                                               value="{% if row.cost_in_cent == '' or row.cost_in_cent is none %}N/A{% else %}{{ "${:,.2f}".format(row.cost_in_cent / 100) }}{% endif %} "
                                               name="cost" type="text" class="form-control">
                                    </label>
                                    <label for="price" class="form-label col-6">Price
                                        <input readonly
                                               value="{% if row.price_in_cent == '' or row.price_in_cent is none %}N/A{% else %}{{ "${:,.2f}".format(row.price_in_cent / 100) }}{% endif %} "
                                               name="price" type="text" class="form-control">
                                    </label>
                                </div>
                                <div class="row ps-2 pe-2">
                                    <div class="col-4">
                                        <label class="col-12 p-0 m-0">Quantity
                                            <input readonly class="form-control" type="text" name="qty"
                                                   value="{% if row.qty == 0 %}Out of stock{% else %}{{ 'x{}'.format(row.qty|capitalize) }}{% endif %}">
                                        </label>
                                    </div>
                                    <label for="dateCreated" class="form-label col-8">Date created
                                        <input readonly class="form-control" type="text" name="dateCreated"
                                               value="{% if row.created_date == "" or row.created_date is none %}N/A
                                                   {% else %}{{ row.created_date|upper|trim }} {% endif %}">
                                    </label>
                                </div>
                            </div>
                            <div class="col-5">
                                <label class="col-12 p-0 m-0">Image</label>
                                {% if row.image == '' or row.image is none %}
                                    <img src="{{ url_for('static', filename='image/no-image.png') }}"
                                         class="img-thumbnail mod-image" alt="{{ row.image }}">
                                {% else %}
                                    <img data-toggle="modal" data-target="#triggerModal"
                                         src="{{ url_for('static', filename='image/product/' + row.image if '.' in row.image else row.image + '.jpg') }}"
                                         class="img-thumbnail mod-image hand" alt="{{ row.image }}">
                                    <div class="modal fade" tabindex="-1" id="triggerModal">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Image</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="{{ url_for('static', filename='image/product/' + row.image if '.' in row.image else row.image + '.jpg') }}"
                                                         class="img-thumbnail modal-mod-image" alt="{{ row.image }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <label for="description" class="form-label col-12">Description
                            <div class="form-floating">
                                <textarea readonly class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                          style="height: 100px">{{ row.description }}</textarea>
                            </div>
                        </label>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        function validateSize() {
            const file = document.getElementById('image_upload').files[0];
            if (file.size > 2 * 1024 * 1024) {
                alert('File size is too large. The maximum file size is 2MB.');
                document.getElementById('image_upload').value = '';
            }
        }
    </script>
{% endblock %}

{% block style %}
    .form{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
    background: white;
    border-radius: 15px;
    transition:300ms ease;
    }
    .form:hover{
    box-shadow:none;
    }
    .mod-image{
    height:248px;
    width:303px;
    object-fit:cover;
    }
    .hand{
    cursor:pointer;
    }
    .modal-mod-image{
    object-fit:contain;
    width: 100%;
    height:100%;
    }
{% endblock %}
<script src="../../../static/js/bootstrap.min.js"></script>
